@font-face {
    font-family: "iconfont";
    /* Project id 4260278 */
    src: url('//at.alicdn.com/t/c/font_4260278_b48pjbvur5.woff2?t=1695285878115') format('woff2'), url('//at.alicdn.com/t/c/font_4260278_b48pjbvur5.woff?t=1695285878115') format('woff'), url('//at.alicdn.com/t/c/font_4260278_b48pjbvur5.ttf?t=1695285878115') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-susu:before {
    content: "\e6f3";
}

.icon-bilibili:before {
    content: "\e601";
}

.icon-game:before {
    content: "\e62f";
}

.icon-yinle:before {
    content: "\e606";
}

.icon-aixinhua:before {
    content: "\e609";
}

.icon-newspaper:before {
    content: "\e615";
}

.icon-tags:before {
    content: "\e667";
}

.icon-wallpaper:before {
    content: "\e635";
}

.icon-home:before {
    content: "\e602";
}

.icon-manzhan:before {
    content: "\e636";
}

.icon-xingxing:before {
    content: "\e75b";
}

.icon-link:before {
    content: "\e6b3";
}

.icon-collect:before {
    content: "\e629";
}

.icon-xiangce:before {
    content: "\e627";
}

.icon-pen:before {
    content: "\e653";
}

.icon-xingxing1:before {
    content: "\e618";
}

.icon-yule:before {
    content: "\e643";
}

.icon-bizhi:before {
    content: "\e649";
}

.icon-comment:before {
    content: "\e715";
}

.icon-texiao:before {
    content: "\e607";
}

.icon-wenzhang:before {
    content: "\e6a8";
}

.icon-zaji:before {
    content: "\e677";
}

.icon-xihuan:before {
    content: "\e60e";
}

.icon-life:before {
    content: "\e604";
}

.icon-fenlei:before {
    content: "\e600";
}